
System.Runtime.dll
*.dll
_Addons/
DefaultBSProfiles/
FontReg/
fr/
GLCDTemplate/
Help/
it/
Logos/
Logs/
MatrixFonts/
NextionTemplate/
OLEDTemplate/
OverlayLayouts/
PluginsData/
PluginSdk/
Redist/
Replays/
ru-RU/
Scripts/
ShellMacros/
Sounds/
Temp/
Thumbnails/
Web/
x86/
*.config
*.exe
*.dat
_Library/
AIM GS-DASH/
AIM MXS/
AudiConcept/
ConceptDash_v4/
ControlCenter/
F1 2019 Mo#9991/
Ferrari-599xx/
GaugeLand/
GS - Options
MobileDash/
MobileDashWithRelativeTimings/
MYTEC/
MYTEC C127/
MYTEC C127 - System Info/
MYTEC D153/
Ressources/
SimHub - BOSCH DDU8/
SimHub - Fuel Box/
SimHub - Global map/
SimHub - Hud 1/
SimHub - Leaderboard/
SimHub - Live map/
SimHub - Mini Leaderboard/
SimHub - Sector Box/
SimHub - Wheels Infos/
SimHub Leaderboard/
System Info/
Ultimate F1 Dashboard v2/