.gitignore
System.Runtime.dll
_Addons/
DefaultBSProfiles/
FontReg/
fr/
GLCDTemplate/
Help/
it/
Logos/
Logs/
MatrixFonts/
NextionTemplate/
OLEDTemplate/
OverlayLayouts/
PluginsData/
PluginSdk/
Redist/
Replays/
ru-RU/
Scripts/
ShellMacros/
Sounds/
Temp/
Thumbnails/
Web/
x86/
*.config
*.exe
*.dat
_Library/
AIM GS-DASH/
AIM MXS/
AudiConcept/
ConceptDash_v4/
ControlCenter/
F1 2019 Mo#9991/
Ferrari-599xx/
GaugeLand/
MobileDash/
MobileDashWithRelativeTimings/
MYTEC/
MYTEC C127/
MYTEC C127 - System Info/
MYTEC D153/
Ressources/
SimHub - BOSCH DDU8/
SimHub - Fuel Box/
SimHub - Global map/
SimHub - Hud 1/
SimHub - Leaderboard/
SimHub - Live map/
SimHub - Mini Leaderboard/
SimHub - Sector Box/
SimHub - Wheels Infos/
SimHub Leaderboard/
System Info/
Ultimate F1 Dashboard v2/
ACSharedMemory.dll
ACToolsUtilities.dll
ArqSerialLib.dll
BA63Driver.dll
CircularGauge.dll
CodemastersReader.dll
ColorBox.dll
ControlzEx.dll
DriverNET4.dll
EPPlus.dll
Esprima.dll
ETS2Reader.dll
FastMember.dll
fmod.dll
ForceFeel.dll
FSharp.Core.dll
GameReaderCommon.dll
GongSolutions.Wpf.DragDrop.dll
GRallyReader.dll
GSIReader.dll
Hardcodet.Wpf.TaskbarNotification.dll
HidSharp.dll
ICarsReader.dll
ICSharpCode.AvalonEdit.dll
ICSharpCode.SharpZipLib.dll
InfluxDB.Collector.dll
InfluxDB.LineProtocol.dll
INIFileParser.dll
InputManager.dll
InSimDotNet.dll
iRacingSDK.dll
Jint.dll
KdTreeLib.dll
LFSReader.dll
LiteDB.dll
log4net.dll
MahApps.Metro.dll
MahApps.Metro.IconPacks.dll
MahApps.Metro.SimpleChildWindow.dll
Markdig.dll
MathNet.Numerics.dll
Microsoft.AspNet.SignalR.Core.dll
Microsoft.AspNetCore.Antiforgery.dll
Microsoft.AspNetCore.Authentication.Abstractions.dll
Microsoft.AspNetCore.Authentication.Core.dll
Microsoft.AspNetCore.Authorization.dll
Microsoft.AspNetCore.Authorization.Policy.dll
Microsoft.AspNetCore.Connections.Abstractions.dll
Microsoft.AspNetCore.Cors.dll
Microsoft.AspNetCore.Cryptography.Internal.dll
Microsoft.AspNetCore.DataProtection.Abstractions.dll
Microsoft.AspNetCore.DataProtection.dll
Microsoft.AspNetCore.Diagnostics.Abstractions.dll
Microsoft.AspNetCore.Diagnostics.dll
Microsoft.AspNetCore.dll
Microsoft.AspNetCore.HostFiltering.dll
Microsoft.AspNetCore.Hosting.Abstractions.dll
Microsoft.AspNetCore.Hosting.dll
Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
Microsoft.AspNetCore.Html.Abstractions.dll
Microsoft.AspNetCore.Http.Abstractions.dll
Microsoft.AspNetCore.Http.dll
Microsoft.AspNetCore.Http.Extensions.dll
Microsoft.AspNetCore.Http.Features.dll
Microsoft.AspNetCore.HttpOverrides.dll
Microsoft.AspNetCore.JsonPatch.dll
Microsoft.AspNetCore.Localization.dll
Microsoft.AspNetCore.Mvc.Abstractions.dll
Microsoft.AspNetCore.Mvc.ApiExplorer.dll
Microsoft.AspNetCore.Mvc.Core.dll
Microsoft.AspNetCore.Mvc.Cors.dll
Microsoft.AspNetCore.Mvc.DataAnnotations.dll
Microsoft.AspNetCore.Mvc.dll
Microsoft.AspNetCore.Mvc.Formatters.Json.dll
Microsoft.AspNetCore.Mvc.Localization.dll
Microsoft.AspNetCore.Mvc.Razor.dll
Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
Microsoft.AspNetCore.Mvc.RazorPages.dll
Microsoft.AspNetCore.Mvc.TagHelpers.dll
Microsoft.AspNetCore.Mvc.ViewFeatures.dll
Microsoft.AspNetCore.Razor.dll
Microsoft.AspNetCore.Razor.Language.dll
Microsoft.AspNetCore.Razor.Runtime.dll
Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
Microsoft.AspNetCore.ResponseCompression.dll
Microsoft.AspNetCore.Rewrite.dll
Microsoft.AspNetCore.Routing.Abstractions.dll
Microsoft.AspNetCore.Routing.dll
Microsoft.AspNetCore.Server.IISIntegration.dll
Microsoft.AspNetCore.Server.Kestrel.Core.dll
Microsoft.AspNetCore.Server.Kestrel.dll
Microsoft.AspNetCore.Server.Kestrel.Https.dll
Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
Microsoft.AspNetCore.StaticFiles.dll
Microsoft.AspNetCore.WebUtilities.dll
Microsoft.CodeAnalysis.CSharp.dll
Microsoft.CodeAnalysis.dll
Microsoft.CodeAnalysis.Razor.dll
Microsoft.Diagnostics.Runtime.dll
Microsoft.DiaSymReader.Native.amd64.dll
Microsoft.DiaSymReader.Native.x86.dll
Microsoft.DotNet.PlatformAbstractions.dll
Microsoft.Extensions.Caching.Abstractions.dll
Microsoft.Extensions.Caching.Memory.dll
Microsoft.Extensions.Configuration.Abstractions.dll
Microsoft.Extensions.Configuration.Binder.dll
Microsoft.Extensions.Configuration.CommandLine.dll
Microsoft.Extensions.Configuration.dll
Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Microsoft.Extensions.Configuration.FileExtensions.dll
Microsoft.Extensions.Configuration.Json.dll
Microsoft.Extensions.Configuration.UserSecrets.dll
Microsoft.Extensions.DependencyInjection.Abstractions.dll
Microsoft.Extensions.DependencyInjection.dll
Microsoft.Extensions.DependencyModel.dll
Microsoft.Extensions.FileProviders.Abstractions.dll
Microsoft.Extensions.FileProviders.Composite.dll
Microsoft.Extensions.FileProviders.Embedded.dll
Microsoft.Extensions.FileProviders.Physical.dll
Microsoft.Extensions.FileSystemGlobbing.dll
Microsoft.Extensions.Hosting.Abstractions.dll
Microsoft.Extensions.Localization.Abstractions.dll
Microsoft.Extensions.Localization.dll
Microsoft.Extensions.Logging.Abstractions.dll
Microsoft.Extensions.Logging.Configuration.dll
Microsoft.Extensions.Logging.Console.dll
Microsoft.Extensions.Logging.Debug.dll
Microsoft.Extensions.Logging.dll
Microsoft.Extensions.ObjectPool.dll
Microsoft.Extensions.Options.ConfigurationExtensions.dll
Microsoft.Extensions.Options.dll
Microsoft.Extensions.Primitives.dll
Microsoft.Extensions.WebEncoders.dll
Microsoft.Net.Http.Headers.dll
Microsoft.Owin.Cors.dll
Microsoft.Owin.Diagnostics.dll
Microsoft.Owin.dll
Microsoft.Owin.FileSystems.dll
Microsoft.Owin.Host.HttpListener.dll
Microsoft.Owin.Hosting.dll
Microsoft.Owin.Security.dll
Microsoft.Owin.StaticFiles.dll
Microsoft.Practices.ServiceLocation.dll
Microsoft.Win32.Primitives.dll
Microsoft.Win32.Registry.dll
MSIAfterburner.NET.dll
NAudio.dll
NCalc.dll
netstandard.dll
Newtonsoft.Json.Bson.dll
Newtonsoft.Json.dll
NextionCommon.dll
NJsonSchema.dll
NoLimits2Reader.dll
OmsiReader.dll
OpenHardwareMonitorLib.dll
Owin.Compression.dll
Owin.dll
Owin.WebSocket.dll
OxyPlot.dll
OxyPlot.Wpf.dll
PCarsSharedMemory.dll
PibosoReader.dll
PropertyChanged.dll
QRCoder.dll
RawInputProcessor.dll
RfactorReader.dll
Rhino.Licensing.dll
RJCP.SerialPortStream.dll
RREReader.dll
SciLexer.dll
SciLexer64.dll
ScintillaNET.dll
SerialDash.dll
SerialDashWPF.dll
SharpDX.Direct3D11.dll
SharpDX.DirectInput.dll
SharpDX.dll
SharpDX.DXGI.dll
SimBin.dll
SimHub.Licensing.dll
SimHub.Logging.dll
SimHub.Plugins.AudioControl.dll
SimHub.Plugins.dll
SimHub.Plugins.KeyboardEmulator.dll
SimHub.Plugins.VJoyFeeder.dll
SimHub.Plugins.Web.dll
SteamHelper.dll
System.AppContext.dll
System.Buffers.dll
System.Collections.Concurrent.dll
System.Collections.dll
System.Collections.Immutable.dll
System.Collections.NonGeneric.dll
System.Collections.Specialized.dll
System.ComponentModel.Annotations.dll
System.ComponentModel.Composition.dll
System.ComponentModel.DataAnnotations.dll
System.ComponentModel.dll
System.ComponentModel.EventBasedAsync.dll
System.ComponentModel.Primitives.dll
System.ComponentModel.TypeConverter.dll
System.Console.dll
System.Data.Common.dll
System.Data.DataSetExtensions.dll
System.Data.dll
System.Data.OracleClient.dll
System.Diagnostics.Contracts.dll
System.Diagnostics.Debug.dll
System.Diagnostics.DiagnosticSource.dll
System.Diagnostics.FileVersionInfo.dll
System.Diagnostics.Process.dll
System.Diagnostics.StackTrace.dll
System.Diagnostics.TextWriterTraceListener.dll
System.Diagnostics.Tools.dll
System.Diagnostics.TraceSource.dll
System.Diagnostics.Tracing.dll
System.Drawing.dll
System.Drawing.Primitives.dll
System.Dynamic.Runtime.dll
System.Globalization.Calendars.dll
System.Globalization.dll
System.Globalization.Extensions.dll
System.IO.Compression.dll
System.IO.Compression.FileSystem.dll
System.IO.Compression.ZipFile.dll
System.IO.dll
System.IO.FileSystem.dll
System.IO.FileSystem.DriveInfo.dll
System.IO.FileSystem.Primitives.dll
System.IO.FileSystem.Watcher.dll
System.IO.IsolatedStorage.dll
System.IO.MemoryMappedFiles.dll
System.IO.Pipelines.dll
System.IO.Pipes.dll
System.IO.UnmanagedMemoryStream.dll
System.Linq.dll
System.Linq.Expressions.dll
System.Linq.Parallel.dll
System.Linq.Queryable.dll
System.Memory.dll
System.Net.dll
System.Net.Http.dll
System.Net.NameResolution.dll
System.Net.NetworkInformation.dll
System.Net.Ping.dll
System.Net.Primitives.dll
System.Net.Requests.dll
System.Net.Security.dll
System.Net.Sockets.dll
System.Net.WebHeaderCollection.dll
System.Net.WebSockets.Client.dll
System.Net.WebSockets.dll
System.Numerics.dll
System.Numerics.Vectors.dll
System.ObjectModel.dll
System.Reflection.dll
System.Reflection.Extensions.dll
System.Reflection.Metadata.dll
System.Reflection.Primitives.dll
System.Resources.Reader.dll
System.Resources.ResourceManager.dll
System.Resources.Writer.dll
System.Runtime.CompilerServices.Unsafe.dll
System.Runtime.CompilerServices.VisualC.dll
System.Runtime.dll
System.Runtime.Extensions.dll
System.Runtime.Handles.dll
System.Runtime.InteropServices.dll
System.Runtime.InteropServices.RuntimeInformation.dll
System.Runtime.Numerics.dll
System.Runtime.Serialization.dll
System.Runtime.Serialization.Formatters.dll
System.Runtime.Serialization.Json.dll
System.Runtime.Serialization.Primitives.dll
System.Runtime.Serialization.Xml.dll
System.Security.AccessControl.dll
System.Security.Claims.dll
System.Security.Cryptography.Algorithms.dll
System.Security.Cryptography.Cng.dll
System.Security.Cryptography.Csp.dll
System.Security.Cryptography.Encoding.dll
System.Security.Cryptography.Primitives.dll
System.Security.Cryptography.X509Certificates.dll
System.Security.Cryptography.Xml.dll
System.Security.dll
System.Security.Permissions.dll
System.Security.Principal.dll
System.Security.Principal.Windows.dll
System.Security.SecureString.dll
System.ServiceProcess.dll
System.Text.Encoding.CodePages.dll
System.Text.Encoding.dll
System.Text.Encoding.Extensions.dll
System.Text.Encodings.Web.dll
System.Text.RegularExpressions.dll
System.Threading.dll
System.Threading.Overlapped.dll
System.Threading.Tasks.Dataflow.dll
System.Threading.Tasks.dll
System.Threading.Tasks.Extensions.dll
System.Threading.Tasks.Parallel.dll
System.Threading.Thread.dll
System.Threading.ThreadPool.dll
System.Threading.Timer.dll
System.Transactions.dll
System.ValueTuple.dll
System.Web.Cors.dll
System.Web.dll
System.Windows.Forms.dll
System.Windows.Interactivity.dll
System.Xml.dll
System.Xml.Linq.dll
System.Xml.ReaderWriter.dll
System.Xml.XDocument.dll
System.Xml.XmlDocument.dll
System.Xml.XmlSerializer.dll
System.Xml.XPath.dll
System.Xml.XPath.XDocument.dll
TrackmaniaReader.dll
UAParser.dll
UnityEngine.dll
USBD480_lib.dll
vJoyInterface.dll
vJoyInterfaceWrap.dll
vtortola.WebSockets.dll
WarThunder.dll
WindowsInput.dll
WoteverCommon.dll
WoteverWPFControls.dll
WpfAutoGrid.dll
WPFHexaEditor.dll
WPFLocalizeExtension.dll
WPFToolkit.dll
XAMLMarkupExtensions.dll
Xceed.Wpf.AvalonDock.dll
Xceed.Wpf.AvalonDock.Themes.Aero.dll
Xceed.Wpf.AvalonDock.Themes.Metro.dll
Xceed.Wpf.AvalonDock.Themes.VS2010.dll
Xceed.Wpf.DataGrid.dll
Xceed.Wpf.Toolkit.dll
YamlDotNet.dll