
System.Runtime.dll
*.dll
_Addons/
DashTemplates/
DefaultBSProfiles/
FontReg/
fr/
GLCDTemplate/
Help/
it/
Logos/
Logs/
MatrixFonts/
NextionTemplate/
OLEDTemplate/
OverlayLayouts/
PluginsData/
PluginSdk/
Redist/
Replays/
ru-RU/
Scripts/
ShellMacros/
Sounds/
Temp/
Thumbnails/
Web/
x86/
*.config
*.exe
*.dat
